* {
    margin: 0px;
    padding: 0px;
    font-weight: 300;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    cursor: default;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
}

body {
    background-color: #1f1f1f;
}

/*Menu*/

.menu {
    background: linear-gradient(to bottom, #323333 0%, #444444 100%);
    color: white;
    padding: 10px;
    height: 82px;
}

.menu-button {
    display: inline-block;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    width: 65px;
    height: 65px;
    transition: 0.1s;
    float: left;
}

.menu-button input {
    display: none;
}

.range-field {
    display: inline-block;
}

.range-field>input[type=range] {
    border: 8px solid transparent;
}

.menu-button>p,
.menu-button>i {
    pointer-events: none;
    text-align: center;
    width: 100%;
}

.menu-button>p {
    font-size: 13px;
}

.menu-button:hover {
    background-color: rgba(255, 255, 255, 0.15);
}

.fragment-controls {
    float: left;
    width: 400px;
    left: calc(50% - 275px);
    margin-left: 10px;
    height: 100%;
    position: relative;
    text-align: center;
    display: none;
}

.fragment-controls>div {
    display: inline-block;
    margin: 9px;
}

.fragment-controls>div>p {
    text-align: center;
    color: rgb(194, 192, 194);
}

.menu>.right-aligned {
    float: right;
    margin-left: 10px;
}

/*Bottom half*/

.bottom-half {
    position: fixed;
    top: 86px;
    height: calc(100% - 86px - 22px);
    width: 100%;
}

.vertical-divider {
    width: 2px;
    height: calc(100% - 40px - 86px - 22px);
    background-color: rgba(255, 255, 255, 0.08);
    position: fixed;
    left: calc(50% - 10px);
    top: 106px;
    cursor: e-resize;
    padding: 0 10px;
    box-shadow: inset 0 0 0 9px #1f1f1f;
}

/*Left Half*/

.left-half {
    width: 50%;
    position: fixed;
    left: 0;
    top: 86px;
    padding: 30px;
    min-width: 500px;
}

.video-player {
    background-color: #1f1f1f;
    width: 100%;
    height: 100%;
    display: none;
}

.video-container {
    width: 100%;
}

video {
    width: 100%;
    position: absolute;
}

.video-controls {
    text-align: center;
    top: 6px;
    position: relative;
    z-index: 2;
}

.center-controls {
    width: 200px;
    display: inline-block;
    left: 85px;
    position: relative;
}

.center-controls>i {
    margin: 0 5px
}

.video-controls p {
    color: rgba(255, 255, 255, 0.7);
    display: inline-block;
    font-size: 13px;
    float: right;
    padding: 10px;
    width: 140px;
}

.fullscreen-button {
    float: right;
}

.play-button {
    transform: scale(2);
    padding: 3px !important;
}

.video-controls i:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.video-controls i {
    color: white;
    text-align: center;
    display: inline-block;
    border-radius: 50%;
    padding: 8px;
    cursor: pointer;
    transition: 0.1s;
}

.seek-bar {
    height: 20px;
    top: 2px;
    position: relative;
    cursor: pointer;
    z-index: 2;
}

.seek-background {
    width: 100%;
    height: 3px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 2px;
    top: 9px;
    position: relative;
    pointer-events: none;
}

.seek-progress {
    height: 100%;
    width: 0%;
    background-color: #0dffd0;
    pointer-events: none;
}

.seek-thumb {
    background-color: #00a6ff;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    left: calc(0% - 7px);
    position: relative;
    top: -300%;
    pointer-events: none;
}

/*Right Half*/

.right-half {
    width: 50%;
    position: fixed;
    right: 0;
    top: 86px;
    padding: 30px;
}

.thumbnail {
    min-width: 142px;
    height: 80px;
    background-size: contain;
    border: 2px solid #696969;
    background-color: #696969;
    border-radius: 5px;
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 30px;
}

.thumbnail[active] {
    box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.3);
}

.thumbnail-inner-seeker {
    width: 3px;
    position: relative;
    height: 100%;
    background-color: black;
    box-shadow: 0px 0px 5px 0px white;
    margin: 0;
    pointer-events: none;
}

.thumbnail-seeker {
    position: relative;
    top: -10px;
    left: -5px;
    height: calc(100% + 20px);
    width: 10px;
    display: none;
    cursor: e-resize;
}

.thumbnail[active]>.thumbnail-seeker {
    display: block;
}

/*Bottom menu*/

.bottom-info {
    height: 26px;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    background: linear-gradient(to bottom, #323333 0%, #444444 100%);
    color: white;
    padding: 4px;
    font-size: 14px;
    font-weight: lighter;
}

.bottom-info a {
    color: rgba(255, 255, 255, 0.5);
}

.bottom-info>.duration {
    margin-left: 50px;
}

.thumbnail-zoom {
    float: right;
}

.zoom-slider {
    margin: 0px;
    padding: 0px;
    height: 26px;
    margin-top: -3px;
}

input.zoom-input {
    padding: 0px !important;
    margin: 0px !important;
    height: 26px;
}

.zoom-value {
    margin: 0px;
    padding: 0px;
    vertical-align: middle;
    height: 26px;
    line-height: 26px;
    display: inline-block;
    margin-top: -18px;
}

/*Misc*/

*:focus {
    outline: none;
}

.modal {
    width: 30% !important;
}

#yt-title {
    margin-top: 20px;
}

input[type=text],
input[type=number],
textarea {
    cursor: text;
}

.menu a {
    color: #9e9e9e !important;
}